@import '@/styles/utils';

.serviceLink{
  font-size: rem(14px);
  line-height: rem(32px);
  margin-top: rem(8px);
}

.input{
  padding: rem(0 8px);
  font-size: rem(14px);
  height:rem(32px);
  line-height: rem(32px);
  font-weight: bold;
  border: rem(1px) solid #333 !important;
  margin-right: rem(8px);
  width: 100%;
}

.label{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}