@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import './design-system/';

// UTILITY CLASSES



input[type=search], input[type=text],input[type=email],input[type=password], input[type=date], textarea{
  font-size: rem(16px);
  padding: rem(8px);
  border-radius: rem(4px);
  border: none;

  &:focus{
    outline: none;
  }
}