.header{
  color: gold;
  font-family: 'Bungee Outline', cursive;
  font-weight: 400;
  text-align: center;
  padding-top: 1.5rem;

  &__marquee{
    border-radius: 0.5rem;
    background: rgba(0,0,0,0.7);
    padding: 1rem;
    display: inline-block;
    text-shadow: 0 0 8px gold;

  }
}

.header__title{
  font-weight: bold;
  text-shadow: 0 0 8px gold;
  text-align: center;
  padding: 1.5rem 4.5rem;
  line-height:6rem;
  font-size: 6rem;
}

.hideMobile{
  @media (max-width: 1024px){
      display: none;
  }    
}

.header__info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 1024px){
    flex-direction: column;
  }
}

.header__week{
  width: 33%;
  text-align: left;
  
  @media (max-width: 1024px){
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    order: 2;
  }
}
.header__picker{
  width: 34%;
  font-size: 1.5rem;
  
  @media (max-width: 1024px){
    text-align: center;
    width: 100%;
    font-size: 2rem;
    order: 1;
  }
}
.header__time{
  width: 33%;
  text-align: right;

  @media (max-width: 1024px){
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    order: 3;
  }
}

.movies{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  margin: 2rem 4rem 2rem;
  
  @media (max-width: 1024px){
    grid-template-columns: 1fr;
    margin: 1.5rem;
    column-gap: 0;
    row-gap: 1rem;
  }
}
